<!-- extend from base layout -->
{% extends "base.html" %}
{% block content%}
<div class="wrap">
<form action="" method="post" name="qr_code_generator">
  {{form.hidden_tag()}}
  {% for error in form.errors.csrf_token %}
    <span style="color: red;">[{{error}}]</span>
  {% endfor %}
  <ul>
    <li>
    Text/url to be encoded:
    {% for error in form.errors.qr_text %}
    <span style="color: red;">{{error}}</span><br>
    {% endfor %} 
    {{form.qr_text(size=50)}}
    </li>
    <li>
    Black part out or in?
    {{form.in_or_out}}
    </li>
    <li>
    Border size?
    {% for error in form.errors.border_size %}
      <span style="color: red;">{{error}}</span><br>
    {% endfor %} 
    {{form.border_size(size=2)}}
    </li>
    <li>
    Side length? (in mm)
    {% for error in form.errors.length_width %}
      <span style="color: red;">{{error}}</span><br>
    {% endfor %} 
    {{form.length_width(size=4)}} mm
    </li>
    <li>
    What depth percentage? (as a percentage of the side length)
    {% for error in form.errors.height %}
      <span style="color: red;">{{error}}</span><br>
    {% endfor %} 
    {{form.height(size=5)}} %
    </li>
    <li>
    Base size? (as a percentage of the height)
    {% for error in form.errors.base_percentage %}
      <span style="color: red;">{{error}}</span><br>
    {% endfor %} 
    {{form.base_percentage(size=5)}} %
    </li>
  </ul>
    <input type="submit" value="Download QR Code STL">
</form>
</div>
{% endblock %}
